pkgbase = iterm2-shell-integration-git
	pkgdesc = Shell integration of iTerm2, useful when SSH from macOS.
	pkgver = 3.5.0beta10.r31.b108b4416
	pkgrel = 1
	url = https://iterm2.com
	arch = any
	license = GPL
	makedepends = git
	provides = iterm2-shell-integration
	conflicts = iterm2-shell-integration
	source = git+https://github.com/gnachman/iTerm2.git
	sha256sums = SKIP

pkgname = iterm2-shell-integration-git
